doctype html
html
  head
    meta charset="utf-8"
    title = title

    link rel="stylesheet" href="#{application_stylesheet_path}"

    script src="#{application_javascript_path}" type="text/javascript"

  body
    div#main class="#{page_name}"
      div#navigation
        h1
          a href="/"
            = title

        == main_navigation

        div#progress-panel &nbsp;
        div#message-panel

        == meta_navigation

      == yield

    javascript:
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31629100-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
